/* .quiz_container {
    margin: auto;
} */

#background-box {
    background-color: white;
    width: 600px;
    height: 200px;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    box-shadow: 2px 5px 24px 2px rgba(0,0,0,0.25);
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 20px 20px;
    background-color: aqua;
}

button {
    display: inline-flex;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
    margin: 20px 0px 5px 5px;
    color: white;
    background-color: blue;
    border: 0px;
    border-radius: 5px;
    box-shadow: 2px 5px 24px 2px rgba(0,0,0,0.1);
}

#question {
    font-size: 1.6rem;
    text-align: center;
}